# Ignore node_modules folder
node_modules/

# Ignore .env file (environment configuration)
.env

# Ignore log files
*.log

# Ignore OS-specific files (Windows, macOS)
Thumbs.db
.DS_Store

# Ignore VS Code settings folder
.vscode/

# Ignore npm debug log
npm-debug.log
