/*background for header*/
.stApp > header{
    background: #F1F1F1;
    color: #202020;
}

/*background*/
.stApp{
    background: #F1F1F1;
    color: #202020;
}

/*background for sidebar*/
.st-emotion-cache-vk3wp9 {
    /* background: #7E909A; */
    background: #7E909A;
    border-right: #7E909A 5px solid;
    height: 100%;
}


/*title color*/
.st-emotion-cache-10trblm{
    color:#202020;
}

/*sidebar button style*/
.st-emotion-cache-lrlib > li:nth-child(n) > div:nth-child(1) > a:nth-child(1){
    background-color: #F1F1F1;
    border-radius: 5px;
    padding: 10px 46px;
    margin: 0px 50px;
    margin-bottom: 10px;
    justify-content: center;
}

.st-emotion-cache-10zg0a4 > button:nth-child(1) > svg:nth-child(1){
    background-color: #7E909A;
    border-radius: 5px;
}


/*sidebar button style - HOME button*/
.st-emotion-cache-pkbazv{
    color: #202020;
    font-weight: bold;
}

/*sidebar button style - HOME button*/
span.st-emotion-cache-17lntkn:nth-child(1){
    color: #202020;
    font-weight: bold;
}

/*sidebar fonts*/
.st-emotion-cache-lrlib > li:nth-child(n) > div:nth-child(1) > a:nth-child(1) > span:nth-child(2){
    color: #202020;
    font-weight: bold;
}

/* -------------- Dashboard Page --------------*/
.st-emotion-cache-16idsys > p:nth-child(1){
    font-size: 20px;
}

.st-emotion-cache-pkbazv{
    color: #7E909A;
}

.stButton > button {
    background-color: #7E909A;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.stButton > button:hover {
    background-color: #153d64;
    color: white;

}

.stButton > button:active, .stButton > button:focus {
    background-color: #153d64;
    color: white !important;
    border: none;
    box-shadow: none;
}

/* ----------- Statistics Page -------------*/
.main-svg{
	background: none !important;
}


td, th , thead{
    border: 1px solid white !important;
    color: white !important;
    padding: 10px !important;
    font-weight: bold;
}
.stTable {
    border-collapse: collapse !important;
    width: 100% !important;
    font-size: 16px !important;
}


