/*background for header*/
.stApp > header{
    background: #F1F1F1;
    color: #202020;
}

/*background*/
.stApp{
    background: #F1F1F1;
    color: #202020;
}

/*background for sidebar*/
.st-emotion-cache-vk3wp9 {
    /* background: #7E909A; */
    background: #7E909A;
    border-right: #7E909A 5px solid;
    height: 100%;
}


/*title color*/
.st-emotion-cache-10trblm{
    color:#202020;
}

/*sidebar button style*/
.st-emotion-cache-lrlib > li:nth-child(n) > div:nth-child(1) > a:nth-child(1){
    background-color: #F1F1F1;
    border-radius: 5px;
    padding: 10px 46px;
    margin: 0px 50px;
    margin-bottom: 10px;
    justify-content: center;
}

.st-emotion-cache-10zg0a4 > button:nth-child(1) > svg:nth-child(1){
    background-color: #7E909A;
    border-radius: 5px;
}


/*sidebar button style - HOME button*/
.st-emotion-cache-pkbazv{
    color: #202020;
    font-weight: bold;
}

/*sidebar button style - HOME button*/
span.st-emotion-cache-17lntkn:nth-child(1){
    color: #202020;
    font-weight: bold;
}

/*sidebar fonts*/
.st-emotion-cache-lrlib > li:nth-child(n) > div:nth-child(1) > a:nth-child(1) > span:nth-child(2){
    color: #202020;
    font-weight: bold;
}

/* ---------- Problems Page ---------- */
div.st-emotion-cache-e8g64f:nth-child(4) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 25px;

}

div.st-emotion-cache-e8g64f:nth-child(4){
    margin-bottom: 20px;
}

div.st-emotion-cache-keje6w:nth-child(2){
    margin-top: 10px;
}

div.st-emotion-cache-keje6w:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(n){
    padding-top: 3px;
}


div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1){
    background-color: #b46382;
    border-radius: 0px;
    margin-left: 50px;
}

div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1):focus:not(:active){
    color: #fd9664;
    border: none;
}

div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1):focus(:active){
    color: #fd9664;
    border: none;
}

div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1):hover{
    color: #fd9664;
    border: none;
}

div.element-container:nth-child(n) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-weight: bold;
}

div.st-emotion-cache-keje6w:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(n) > div:nth-child(1) > div:nth-child(1) > ol:nth-child(1) > li:nth-child(1){
    font-size: 20px;
}

div.st-emotion-cache-keje6w:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(7) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

/* ---------- Problem 1 ---------- */

div.st-emotion-cache-r421ms:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(4) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(5) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(8) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(10) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(9) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top:  -9px;
}

div.st-emotion-cache-r421ms:nth-child(11) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(12) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
   margin-top:  -9px;
}

div.st-emotion-cache-r421ms:nth-child(13) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(14) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(15) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.st-emotion-cache-r421ms:nth-child(15) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    margin-top: 5px;
}

div.st-emotion-cache-r421ms:nth-child(16) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;

}

div.st-emotion-cache-r421ms:nth-child(17) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top:  -9pxs;
}

div.st-emotion-cache-r421ms:nth-child(n) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
    font-weight: bold;
}

div.st-emotion-cache-r421ms:nth-child(n) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1){
    background-color:#fd9664;
    border: #fd9664;
}

div.st-emotion-cache-r421ms:nth-child(16) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    margin-top: 3px;
}

div.st-emotion-cache-r421ms:nth-child(16) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
    font-weight: bold;
}

div.st-emotion-cache-r421ms:nth-child(16) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1){
    background-color:#fd9664;
    border: #fd9664;
}

div.st-emotion-cache-r421ms:nth-child(17) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    margin-top: -9px;
}

div.element-container:nth-child(5) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
    font-weight: bold;
}

div.element-container:nth-child(5) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1){
    background-color:#fd9664;
    border: #fd9664;
}

/* ---------- Problem 3 ---------- */
div.element-container:nth-child(7) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(8) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(9) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#1c2743;
}

div.element-container:nth-child(13) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(14) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(15) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(16) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(17) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
}

div.element-container:nth-child(21) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020
}

div.element-container:nth-child(22) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(29) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#1c2743;
}

div.element-container:nth-child(32) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(33) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(34) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(35) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#1c2743;
}

/* ---------- Problem 4 ---------- */
div.st-emotion-cache-r421ms:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#1c2743;
}

div.st-emotion-cache-r421ms:nth-child(4) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#1c2743;
}

div.st-emotion-cache-r421ms:nth-child(5) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#1c2743;
}

div.st-emotion-cache-r421ms:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.st-emotion-cache-r421ms:nth-child(6) > div:nth-child(1) > div:nth-child(1) > div:nth-child(5) > div:nth-child(1) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
}

div.st-emotion-cache-r421ms:nth-child(7) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.st-emotion-cache-r421ms:nth-child(8) > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

/* ---------- Problem 6 ---------- */
div.element-container:nth-child(18) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
}

div.element-container:nth-child(27) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
}

div.element-container:nth-child(35) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(36) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(37) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#1c2743;
}

div.element-container:nth-child(41) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;;
}

div.element-container:nth-child(42) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(43) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(44) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#1c2743;
}

div.element-container:nth-child(47) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(48) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(49) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(51) > div:nth-child(1) > button:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #1c2743;
}

div.element-container:nth-child(31) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

/* ---------- Problem 5 ---------- */
div.element-container:nth-child(4) > div:nth-child(1) > div:nth-child(1) > ol:nth-child(1) > li:nth-child(1){
    font-size: 18px;
}

div.element-container:nth-child(5) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 18px;
}

.st-emotion-cache-16idsys > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(7) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    font-size: 18px;
}

div.element-container:nth-child(7) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(9) > div:nth-child(1) > div:nth-child(1) > ul:nth-child(1) > li:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(10) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(10) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){    font-size: 20px;
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(12) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(12) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(15) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(16) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(17) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(18) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(15) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(16) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(17) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(18) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(19) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(20) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(21) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) > code:nth-child(1){
    background-color: #1c2743;
    font-size: 20px;
    color: #fd9664;
}

div.element-container:nth-child(19) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(20) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

div.element-container:nth-child(21) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
    font-size: 18px;
}

/* ---------- Problem 7 ---------- */
div.element-container:nth-child(5) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(6) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(7) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(11) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(12) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(15) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(16) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(19) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(20) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(21) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(22) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(26) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(27) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color:#202020;
}

div.element-container:nth-child(28) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(31) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(32) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(33) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(34) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(37) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(38) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(39) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(40) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(8) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(13) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}    

div.element-container:nth-child(17) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}   

div.element-container:nth-child(23) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(29) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(35) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}

div.element-container:nth-child(41) > div:nth-child(1) > label:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    color: #202020;
}


/* ----------- Statistics Page -------------*/
.main-svg{
	background: none !important;
}


td, th , thead{
    border: 1px solid white !important;
    color: white !important;
    padding: 10px !important;
    font-weight: bold;
}
.stTable {
    border-collapse: collapse !important;
    width: 100% !important;
    font-size: 16px !important;
}


